<nz-header class="main-header" nz-row nzType="flex" style="background-color: #bb2929;">
  <div>
    <h2 style="color: white; padding-left: 10px;">Reserva de Eventos</h2>
  </div>

  <div class="nav-links">
    <a nz-button nzType="link" routerLink="/home" routerLinkActive="active">Inicio</a>
    <a nz-button nzType="link" routerLink="/register" routerLinkActive="active">Registro</a>
    <a nz-button nzType="link" routerLink="/login" routerLinkActive="active">Login</a>
  </div>

</nz-header>

<router-outlet></router-outlet>